langchain>=1.2.6
langchain-openai>=1.1.7
langchain-community>=0.4.1
langchain-chroma>=1.1.0
langchain-groq>=1.1.1
python-dotenv>=1.2.1
chromadb>=1.4.1
openai>=2.15.0
sentence-transformers==2.2.2 # <--- This is the one that works
InstructorEmbedding>=1.0.1
flask>=3.1.2
flask-wtf>=1.2.2
huggingface-hub<0.26.0
flask_cors>=6.0.2
flasgger>=0.9.7.1
gunicorn>=23.0.0
waitress>=3.0.2
psycopg2-binary>=2.9.11
langchain-google-genai>=4.2.0
google-genai>=1.59.0